@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #f9fafb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.resizing {
  z-index: 1000;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: left, top;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-placeholder {
  background: rgba(24, 95, 165, 0.05);
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 2;
  transition: all 0.1s ease;
}

/* Custom Scrollbar */
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 10px;
  }
  
  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #374151;
  }
}
